/*
 Shamelessly stolen from "Here, There, and Everywhere",
 including but not limited to "bootstrap", "stack overflow", 
 "Mike Dane", "w3schools", et al.
 */

.backclass {
  background-image:url(/assets/images/default.png)
}

.plainclass {
  color:            white;
  background-color: #000000;
}

.plainclass1 {
  color:            white;
  background-color: #FBE10F;
}

.container {
  max-width:    70%;
  margin:       0 auto;
  font-size:    1.1em;
  font-family:  Verdana,arial,helvetica,san-serif;
  text-align:   justify;
}

.container a {
  color: #ffffff;
}

.container a:hover {
  color: #ffffff;
}

.row {

  background:       #F86449;
  border-radius: 100px;
}

.column {
  float:            left;
  display:          inline-block;
  height:           130px;
  width:            100%;
  padding-top:      10px;
  padding-bottom:   10px;
  padding-left:     10px;
  padding-right:    10px;
  text-align:       left;

  
}

.left {
  width:            130px;
}

.right1 {
  height:           80px;
  width:            calc(100% - 200px);
  padding-top:      5px;
  padding-bottom:   5px;
  padding-left:     30px;
  font-size:        1.5em;
  font-weight:      bold;
}

.right2 {
  height:           50px;
  width:            calc(100% - 200px);
  padding-top:      5px;
  padding-bottom:   5px;
  padding-left:     30px;
  font-size:        1.1em;
  font-weight:      bold;
}
}

.youtube {
  float:            left;
  display:          inline-block;
  height:           150px;
  width:            100%;
  padding-top:      10px;
  padding-bottom:   10px;
  padding-left:     10px;
  padding-right:    10px;
}

.yvideo {
  width:            25%;
  height:           100%;
  padding-top:      0px;
  padding-bottom:   0px;
  padding-left:     0px;
  padding-right:    0px;
}

.yinfo {
  width:            calc(75%  - 30px);
  height:           calc(100% - 20px);
  padding-top:      10px;
  padding-bottom:   10px;
  padding-left:     10px;
  padding-right:    10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  margin:auto;
  width:90%;
  margin-top:1%;
  background-color: #f86449;
  color:            #FFFFFF;
  font-size:        0.7em;
  text-align: center;
  border-radius: 100px;
  
}

h1{
  font-size: 2em;
  text-align: center;
  padding-bottom: 10px;
}

.navbar ul li {
  display:        inline-block;
  padding: 10px;
  padding-top:    10px;
  padding-bottom: 10px;

}

.navbar ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;

}

.navbar ul li a:hover {
  background:       #0000ff00;
  color:            #ffffff;
  
  text-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
}

pre {
  border:        3px solid rgba(255, 255, 255, 0.15);
  padding:       10px; 
  color:         #b5e853;
  font-size:     0.7em; 
  border-radius: 2px;
}

section{
  text-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
  background-color: #f86449;
  margin-top:3%;
  padding: 2%;
  padding-left:8%;
  padding-right:8%;
  border-radius:50px;
  font-size: 1.2em;
}

section li {
  padding-top: 5px;
}

section a{
  font-size: 1.6em;
  text-decoration:none;
}

section a:hover{
  text-shadow: 2px 2px 5px rgb(0 0 0 / 60%);
}


footer{
  text-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
  margin-top:3%;
  padding: 2%;
}

/*
  ZCZC
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px; 
  color: #b5e853;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
  max-width: 65%;

 */

/*
 ************************************************************
 */

@media screen and (max-width:768px) {
  ul {
    margin: 0;
    padding: 0;
  }
  #navbar ul li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  #navbar ul li a {
    margin: 0;
    padding: 0;
  }
  #menu {
    display: none;
  }
  #maincontent {
    width: 100%;
    padding: 0;
  }
  h1 {
    font-size: 1em;
  }
}

/*
 ************************************************************
 */
